Repository ErrorDodo/Shared-SkinChanger, pull requests merged in 2022-04, with the labels that each got.

#5 Github workflows
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/labeler.yml
Labels: Feature

#11 Changed all javascript to typescript
  package.json
  src/server/index.js
  src/server/index.ts
  yarn.lock
Labels: Server

#12 Added tasks for running and building
  .vscode/tasks.json
  package.json
Labels: Feature

#13 testing geo locator
  src/client/testing/clientiplocator.lua
Labels: Feature

#16 Created new labels
  .github/labeler.yml
Labels: Feature

#14 Server/exports
  README.md
  src/server/index.ts
  src/server/websocket.ts
Labels: Server

#18 Updated active weapon offset
  src/client/skins.lua
Labels: Bugfix

#21 Methods to get location from IP
  package.json
  src/server/index.ts
  src/server/server_location.ts
  src/server/websocket.ts
  yarn.lock
Labels: Server

#22 Server/client ip
  src/server/index.ts
  src/server/server_location.ts
  src/server/websocket.ts
Labels: Server

#24 Lua now works
  src/client/skins.lua
Labels: Bugfix

#23 Simple logging
  src/server/server_location.ts
Labels: Server

#26 Start of the nextjs website
  .github/labeler.yml
  www/.eslintrc.json
  www/.gitignore
  www/index.html
  www/next-env.d.ts
  www/package.json
  www/pages/index.tsx
  www/tsconfig.json
  www/yarn.lock
Labels: Website

#27 Fixed typo in location
  src/server/server_location.ts
Labels: Bugfix

#28 Added update checker
  src/server/index.ts
  src/server/server_location.ts
  src/server/test-commit.txt
  src/server/update.ts
  src/server/websocket.ts
Labels: Feature
